/dist
/node_modules
/public/modules/daggerheart-scifi-content/artwork
/public/modules/daggerheart-scifi-content/lang
/public/modules/daggerheart-scifi-content/packs
/public/modules/daggerheart-scifi-content/templates
/packs-src/.state
